<html lang="en">

<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/nav.ejs") %>

            <h1>blog Page</h1>

            <dialog open="true" >
                <h1> chilex.com</h1>
                <p>
                    hello world
                </p>
                <form method="dialog">
                    <button>ok</button>
                </form>

            </dialog>


            <%- include("partials/footer.ejs") %>
    </body>

</html>