<html lang="en">

<%- include("partials/header.ejs") %>

<body class="home">
    <%- include("partials/nav.ejs") %>
    
    <h1>Home Page</h1>
     <div class="view">
        <a href="http://localhost:3000/node/auth/api/blog"> View Blog</a>
     </div>
    
    
    <%- include("partials/footer.ejs") %>
</body>

</html>